/* Custom Stylesheet */
/**
#456355
#EDCB64
 */

body {
  background-color: #456355;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.logo-img {
  vertical-align: middle;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  font-size: 2rem;
}

h3 {
  font-size: 2.2rem;
}

h6 {
  font-size: 0.8rem;
}

.update-profile-btn {
  margin-top: 20px;
}

.my-timestamp {
  color: #EDCB64;
  font-size: 0.6rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#my-yellow-text {
  color: #EDCB64;
}

#my-yellow-background {
  background-color: #EDCB64;
}

#my-green-text {
  color: #456355;
}

#my-green-background {
  background-color: #456355;
}

#my-action-btn {
  color: #456355;
  background-color: #EDCB64;
}

#my-music-card {
  border: 1px solid #EDCB64;
  color: #EDCB64;
  background-color: #456355;
  width: 100px;
  height: 33px;
}

#my-card {
  border: 1px solid #EDCB64;
  background-color: #456355;
  color: #EDCB64;
}

#my-card-borderless {
  box-shadow: none;
  background-color: #456355;
  color: #EDCB64;
}

#my-input-box {
  border: 1px solid #EDCB64;
  border-radius: 10px;
  background-color: #456355;
  color: #EDCB64;
}


#my-badge {
  background-color: #456355;
  color: #EDCB64;
  border: none;
  font-size: 8px;
}

#my-top-text {
  vertical-align: top;
}

#td-to-left {
  text-align: left;
}

.mynavbar {
  background-color: #456355;
}

nav ul a,
nav .brand-logo {
  color: #EDCB64;
}

p {
  line-height: 1.6rem;
}

.sidenav-trigger {
  color: #EDCB64;
}

#nav-mobile {
  background-color: #456355;
}

.my-footer-text {
  color: #EDCB64;
  font-size: 10px;
}

.social-media {
  font-size: 20px;
  margin-left: 20px;
}

.header {
  color: #EDCB64;
}

.my-home-info {
  color: #456355;
}

.my-home-instruction {
  color: #EDCB64;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: #EDCB64;
}

.parallax-container .section {
  width: 100%;
}

.delete-acc {
  clear: both;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 0.5%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #EDCB64;
}

footer.page-footer {
  background-color: #456355;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}
