/* Custom Stylesheet */
/**
#456355
#EDCB64
 */

body {
  background-color: #456355;
}

#my-yellow-text {
  color: #EDCB64;
}

#my-yellow-background {
  color: #EDCB64;
}

#my-green-text {
  color: #456355;
}

#my-green-background {
  color: #456355;
}

#my-action-btn {
  color: #456355;
  background-color: #EDCB64;
}

#my-music-card {
  border: 1px solid #EDCB64;
  color: #EDCB64;
  background-color: #456355;
  width: 100px;
  height: 33px;
}

#my-card {
  border: 1px solid #EDCB64;
  background-color: #456355;
  color: #EDCB64;
}

#my-card-borderless {
  box-shadow: none;
  background-color: #456355;
  color: #EDCB64;
}

.mynavbar {
  background-color: #456355;
}

nav ul a,
nav .brand-logo {
  color: #EDCB64;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #EDCB64;
}

#nav-mobile {
  background-color: #456355;
}

.header {
  color: #EDCB64;
}

.my-home-info {
  color: #456355;
}

.my-home-instruction {
  color: #EDCB64;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #EDCB64;
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #EDCB64;
}

footer.page-footer {
  margin: 0;
  background-color: #456355;
}

.footer_text {
  color: #EDCB64;
}

#td-to-left {
  text-align: left;
}
